---
layout: 'base.njk'
pageId: blog-post
eleventyComputed:
    headline: "{{ title }}"
    headlineJa: "{{ titleJa }}"
---


{% include "hero.njk" %}

<div class="page-content">
  <div class="blog-post">
    <article class="main-article">
    <div class="container container--narrow flow">
      
        <h1 class="article-title">
          {{ title }}
        </h1>
        
        <figure class="main-article__figure">
          <img src="{{ image }}" alt="{{ imageAlt }}">
          <figcaption>
            {{ imageAlt }}
          </figcaption>
        </figure>

        {{ content | safe }}
        
        <p>Blog > {{ title }}</p>
    </div>
    </article>
  </div>
  <div class="sidebar">
    <h3>Share</h3>
    <p>lorem ipsum</p>

  </div>
</div>
