<li>
    <a href="{{ post.url }}" class="">
      <article class="snippet2">
        <div class="gradient {{ post.data.cardColor }}"></div>
        <img src="{{ post.data.cardImage }}" alt="{{ post.data.cardImageAlt }}" class="snippet__image">
        <h3 class="snippet__title">{{ post.data.title }}</h3>
        {# <p class="snippet__meta">by <span> {{ post.data.author }}</span> on {{ post.data.date | postDate }} </p> #}
        <p class="snippet__meta"> {{ post.data.date | postDate }} </p>
        <p class="snippet__body"> {{ post.data.description }} </p>
      </article>
    </a>
</li>