<section class="brands">  
    <div class="container"> 
  
            <h2 class="section-title">Brands I've collaborated with</h2>
  
            <ul>
                <li><img src="/assets/brands/jre.jpeg"></li>
                <li><img src="/assets/brands/hil.jpg"></li>
                <li><img src="/assets/brands/cel.png"></li>
                <li><img src="/assets/brands/gds.png"></li>
                <li><img src="/assets/brands/con.jpg"></li>
                <li><img src="/assets/brands/izu.jpeg"></li>
                <li><img src="/assets/brands/dbs.png"></li>
                <li><img src="/assets/brands/jai.png"></li>
                <li><img src="/assets/brands/ana.png"></li>
                <li><img src="/assets/brands/sun.png"></li>
            </ul>

    </div>
  </section>