
<section class="hero2" id="hero2">

<div class="container">

                <div class="main-title">
                    
                    <h1 class="anix ani1"> {{ headline }} </h1>
                    <span class="" lang="ja">{{ headlineJa }}</span>
                </div>

                

</div>






</section>


{# <section class="hero" id="hero">
        
        <div class="container">

                <div class="main-title">
                    <span class="bg-text neonText" lang="ja">{{ headlineJa }}</span>
                    <h2 class="anix ani1"> {{ headline }} </h2>
                </div>

        </div>
</section>  #}
