<section class="skills">  
    <div class="container"> 
  
            <h2 class="section-title">Skills to pay the bills</h2>
  
            <ul>
                <li>Web accessibility</li>
                <li>SEO</li>
                <li>Conversion rate optimisation</li>
                <li>Responsive design</li>
                <li>Brand strategy</li>
                <li>Typography</li>
                <li>Copywriting</li>
                <li>Privacy</li>
                <li>Internationalisation</li>
                <li>Jamstack</li>
                <li>Static site generators</li>
                <li>Inbound strategy</li>
                <li>Web performance</li>
            </ul>
  
            <div class="contact-me">
                <h2><span class="text-btn"><a href="mailto:hello@tomroseveare.com" class="underline--magical">Reach out to Tom</a></span></h2>
            </div>
    </div>
  </section>