<section class="skills">  
    <div class="container"> 
  
            <h2 class="section-title">Areas of Expertise</h2>
  
            <ul>
                <li>Web accessibility</li>
                <li>SEO</li>
                <li>Conversion rate optimisation</li>
                <li>Responsive design</li>
                <li>Brand strategy</li>
                <li>Typography</li>
                <li>Copywriting</li>
                <li>Privacy</li>
                <li>Internationalisation</li>
                <li>Jamstack</li>
                <li>Static site generators</li>
                <li>Inbound strategy</li>
                <li>Web performance</li>
                <li>UX & UI</li>
                <li>Digital diplomacy</li>
                <li>Agile methodology</li>
                <li>User-centered design</li>
            </ul>

            <div class="palette">
                <span class="p1">Orange</span>
                <span class="p2">Beige</span>
                <span class="p3">Grey</span>
                <span class="p4">Gold</span>
                <span class="p5">Gunmetal</span>
                <span class="p6">Blue</span>
                <span class="p7">Pink</span>
            </div>

            <style>

                .palette span {
                    width: 5rem;
                    height: 5rem;
                    display: inline-block;
                    text-align: center;
                    padding: 1.5rem 0 0;
                }

                .p1 {
                    background: #F16232;
                }
                .p2 {
                    background: #e4dfd6;
                }
                .p3 {
                    background: #eee;
                }
                .p4 {
                    background: #af966b;
                }
                .p5 {
                    background: #505050;
                }

                .p6 {
                    background: #75c3ff;
                }

                .p7 {
                    background: #ff5c9a;
                }

                .palette {
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }


                </style>
    </div>
  </section>