---
title: About Tom - Creative in Japan
description: Tom is a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.
layout: 'base.njk'
---
    

<section class="hero" id="hero">
        
        <div class="container">

                <div class="main-title">
                    <span class="bg-text" lang="ja">私について</span>
                    <h2 class="anix ani1"> About <span>Me</span> </h2>
                </div>

        </div>
</section>   

<section class="intro">
        <div class="container">
            <h2 class="section-title">Introduction</h2>

            <div class="grid">

                <div class="left">
                    <h3 class="subtitle">From digital diplomacy to open community platforms</h3>

                    <div class="accent" aria-hidden="true"></div>

                    <p class="intro">I've worked in the web industry for over a decade, from supporting digital diplomacy at the UK's FCO to deliver better engagement, working with consular needs and content strategy on GOV.UK, open community platforms and inbound tourism efforts in Japan.</p>

                    <p  class="intro">I take a holistic approach to delivering value for clients, across all web facets like SEO, accessibility, performance and responsive design.</p>

                    <p class="large"><span class="text-btn"><a href="/contact" class="underline--magical">Say hello</a>!</span></p>
                </div>

                <!-- <div class="right">
                    <div class="ws-container">
                    <a href="/story/pets.html">
                        <h3>My Web Story</h3>
                        <span>1/22/33</span>
                    </a>
                    </div>
                </div> -->

                </div><!-- end of grid-->
        </div>

</section>

<section class="projects">
        <div class="container">
        
        <h2 class="section-title projects">What has he ever done?</h2>
        <p class="intro">Browse a range of projects I've been proud to be involved in over recent years.</p>
       
        <div class="projects">
            <div class="timeline web">
                
                <!-- <h4 class="stat-title">Projects</h4> -->

                <h3>Web Productions</h3>

                <div class="timeline-item">
                    <div class="tl-icon ota">
                        <img src="/assets/about/ota-logo.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2015-2022</p>
                    <h5>Ota City Tourism <span class="url">ota-tokyo.com</span></h5>
                        
                        <span class="role">Creative Director</span>
                    
                    <p>Official tourism information for Ota City Tourism Association</p>
                    <span class="accolade">CSS Design Awards: Innovation, UI, UX, Special Kudos</span>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon fukushima">
                        <img src="/assets/about/fico.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2018-2019</p>
                    <h5>Fukushima Travel <span class="url">fukushima.travel</span></h5>
                        
                        <span class="role">Art Director</span>
                    
                    <p>Official tourism information for Fukushima Prefecture</p>
                </div>
                
                <div class="timeline-item">
                    <div class="tl-icon tdt">
                        <img src="/assets/about/tdt.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2015-present</p>
                    <h5>Tokyo Day Trip <span class="url">trip.pref.kanagawa.jp</span></h5>
                        
                        <span class="role">Art Director</span>
                    
                    <p>Official tourism information for Kanagawa Prefecture</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon jal">
                        <img src="/assets/about/jl.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2019-present</p>
                    <h5>Explore Japan <span class="url">jal.japantravel.com</span></h5>
                        
                        <span class="role">Product Manager</span>
                    
                    <p>Official tourism information from Japan Airlines</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon hida">
                        <img src="/assets/about/hida.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2020-present</p>
                    <h5>Hida Travel <span class="url">hida.travel</span></h5>
                        
                        <span class="role">Creative Director</span>
                    
                    <p>Official tourism information for Hida City</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon suruga">
                        <img src="/assets/about/sur.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2021-present</p>
                    <h5>Visit Suruga <span class="url">visit-suruga.com</span></h5>
                        
                        <span class="role">Creative Director</span>
                    
                    <p>Official tourism information for Suruga County</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon jt">
                        <img src="/assets/about/jt-glyph.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2014-present</p>
                    <h5>Japan Travel (Media) <span class="url">jt.com</span></h5>
                        
                        <span class="role">Creative Director</span>
                    
                    <p>Japan's only social, open tourist info publishing platform</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon jt jtb">
                        <img src="/assets/about/jtbike.svg" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration ">2018-21</p>
                    <h5>Japan Travel Bike <span class="url">jt.bike</span></h5>
                        
                        <span class="role">Chief Bike Officer</span>
                    
                    <p>Mobile web app for Docomo bike rentals</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon fco">
                        <img src="/assets/about/fco-logo.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2012-14</p>
                    <h5>Digital Diplomacy <span class="url">digital.fco.gov.uk</span></h5>
                        
                        <span class="role">Product Manager</span>
                    
                    <p>Highlighting the FCO's digital work</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon fco">
                        <img src="/assets/about/fco-logo.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2013-14</p>
                    <h5>FCO Blogs <span class="url">blogs.fco.gov.uk</span></h5>
                        
                        <span class="role">Product Manager</span>
                    
                    <p>Online engagement from the FCO's diplomats</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon fco">
                        <img src="/assets/about/fco-logo.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2013-14</p>
                    <h5>FCO Web <span class="url">fco.gov.uk</span></h5>
                        
                        <span class="role">Change Manager</span>
                    
                    <p>Managing change requests and site updates</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon govuk">
                        <img src="/assets/about/gov-uk.png" loading="lazy" alt="">
                    </div>
                    <div class="connector end"></div>
                    <p class="tl-duration">2013-14</p>
                    <h5>GOV.UK <span class="url">gov.uk</span></h5>
                        
                        <span class="role">Consular Change Manager</span>
                    
                    <p>Government services that are simpler, clearer and faster for users</p>
                    <span class="accolade">London Design Museum: Design of the Year</span>
                </div>
            </div>

            <div class="timeline medias">

                <h3 id="media">Media</h3>

                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/medias/nhk-logo.webp" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2018</p>
                    <h5>NHK J-Trip Plan <span class="url">NHK</span></h5>
                        
                        <span class="role">Reporter</span>
                    
                    <p>"Museums for all tastes"</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/medias/tv-tokyo.svg" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2018</p>
                    <h5>Cool Japan<span class="url">TV Tokyo</span></h5>
                        
                        <span class="role">Reporter</span>
                    
                    <p>Cool Japan segment</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/medias/ylm-logo.webp" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">Mar 2019</p>
                    <h5>Feature<span class="url">Yahoo Life Magazine</span></h5>
                        
                        <span class="role">Interviewee</span>
                    
                    <p>Column about comparing British and Japanese drinking culture</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/medias/jln-logo.webp" loading="lazy" alt="">
                       
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2018</p>
                    <h5>GeoPark Guides are Increasing<span class="url">Jalan</span></h5>
                        
                        <span class="role">Mention</span>
                    
                    <p>Visiting Yumura Onsen in Hyogo</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/medias/asahi-logo.webp" loading="lazy" alt="">
                    </div>
                    <div class="connector end"></div>
                    <p class="tl-duration">Sep 2018</p>
                    <h5>RWC19 Impact on Kyushu Tourism<span class="url">Asahi</span></h5>
                        
                        <span class="role">Mention</span>
                    
                    <p>Reporting on the upcoming Japan Rugby World Cup 2019</p>
                </div>
            </div>


            <div class="timeline published">
                <h3>Publications</h3>
                <div class="timeline-item">
                    <div class="tl-icon jnto">
                        <img src="/assets/about/jnto.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2019</p>
                    <h5>Wanderlust Explorer <span class="url">japan.travel</span></h5>
                        
                        <span class="role">Author</span>
                    
                    <p>Discover a slower side of travel in northern Japan</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon ttpo">
                        <img src="/assets/about/ttpo.svg" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2019–2020</p>
                    <h5>Tohoku Tourism <span class="url">tohokukanko.jp</span></h5>
                        
                        <span class="role">Tohoku Ambassador</span>
                    
                    <p>Official tourism information for Japan's Tohoku region</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon rw">
                        <img src="/assets/about/rw.png" loading="lazy" alt="">
                        
                    </div>
                    <div class="connector"></div>
                    <p class="tl-duration">2018</p>
                    <h5>2019 Rugby World Cup promotion <span class="url">rugbyworld.com</span></h5>
                        
                        <span class="role">Author</span>
                    
                    <p>Kyushu, the must-do destination for fans going to the 2019 Rugby World Cup</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon mori">
                        <img src="/assets/about/mori.png" loading="lazy" alt="">
                    </div>
                    <div class="connector end"></div>
                    <p class="tl-duration">2012</p>
                    <h5>The Fearsome Kabuki Mask & Honda Bikes <span class="url">morinosuke.com</span></h5>
                        
                        <span class="role">Translator</span>
                    
                    <p>The Fearsome Kabuki Mask & Honda Bikes</p>
                </div>
                </div>
                
        </div> <!-- projects-->
    </div>
</section>

{% include "skills.njk" %}