---
title: Changelog - Creative in Japan
pageId: changelog
headline: Changelog
headlineJa: 変更ログ
description: Tom is a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.
layout: 'base.njk'
---

{% include "hero.njk" %}


<section class="intro">
        <div class="container">
            <h2 class="section-title">The Code Journey</h2>

            <div class="">

                <div class="left">

                    <span class="title-label">Introduction</span>
                    <h2 class="page-title">The Code Journey</h2>

                    <p class="intro">This pages documents the technical stack behind each version of this website ✌️</p>

                    <details>
                        <summary><div class="ver"><span >v0.1</span></div>ANKO — 25 Nov 2022</summary>
                        <ul>
                            <li>Environment setup: installing git and setting up a Github account and new repository. Installing Visual Code Studio and various extensions (like Emmet) for things like code syntax, SCSS support and Live Server.</li>
                            <li>Single landing page: publishing a simple page with basic info — given a reliance on tutorial material, this includes a lot of redundant elements and content.</li>
                            <li>Moving domain registrar from Mailchimp (where it is locked and freedom limited) to Porkbun</li>
                            <li>The uncanny realisation that none of this was complicated.</li>
                        </ul>
                    </details>

                    <details>
                        <summary><div class="ver"><span >v1</span></div>BLACK THUNDER — 4 Dec 2022</summary>
                        
                           <ul>
                            <li>Connecting my Github repository to Cloudflare for more granular control</li>
                            <li>Connecting my domain to Github—managed in Porkbun—and launching the site on my own domain</li>
                            <li>Additions of media mentions, typewriter effect, and animated background gradients, AI-generated avatars</li>
                            <li>Requested domain auth code</li>
                           </ul>
                    </details>


                    <details>
                        <summary><div class="ver"><span >v2</span></div>  C — 17 Jan 2023</summary>
                        
                           <ul>
                            <li>New multipage site pushed live</li>
                            <li>Fixes to timeline, file extensions</li>
                            <li>Switch from animation/absolute sections, to grid and flexbox</li>
                            <li>Mobile menu (via Codepen TBC)</li>
                            <li>JS-based scroll animation support</li>
                            <li>New contact form via TBC</li>
                            <li>Domain management moved to Cloudflare, email setup in Sendinblue</li>
                            <li>Web Story experimentation</li>
                           </ul>
                    </details>

                    <details>
                        <summary><div class="ver"><span >v3</span></div>DARS —  Feb 2023</summary>
                        
                           <ul>
                            <li>Coming soon</li>
                           </ul>
                    </details>

                    <div class="accent" aria-hidden="true"></div>
                    
                    <!-- ref: https://dev.to/link2twenty/native-html-accordion-2fma -->


                    <p>To explore in future: Ajax, web components, Jekyll/Vue</p>

                    <h3 class="subtitle">Why this page?</h3>

                    <p>Although I primarily lead teams of creatives, I've realised I needed my own space to demonstrate my technical knowledge and personal brand. Secondly, I want to show how setting up a website does not involve huge upfront costs.</p>

                    <p>I initially had a custom WordPress back in 2014, which I initially shelved for two main reasons:</p>
                    <ul> 
                        <li>Learning PHP to the degree needed to develop a custom WordPress theme i.e. specialise solely in WordPress, did not necessarily appeal to me so I dug a hole setting up a templated yet heavily-customed site.</li>
                        <li>Secondly, the cost of hosting a website seemed harder to justify the less I found myself updating the site but also the negligible amount of data actually being hosted.</li>
                        
                    </ul>
                    
                    <p>I guess being within WordPress and not developing it created a self-imposed creative restriction I wrestled with.</p>

                    <p>Fast-forward to 2022 and it feels like the landscape for static-sites has evolved quite a bit—not to mention the spec for HTML and CSS. With the barriers to entry lower than ever to prospective coders, I realised I needed full control even with relatively straightforward needs.</p>
                        
                       

 </div>

                <!-- <div class="right">
                    <div class="ws-container">
                    <a href="/story/pets.html">
                        <h3>My Web Story</h3>
                        <span>1/22/33</span>
                    </a>
                    </div>
                </div> -->

                </div><!-- end of grid-->
        </div>

</section>