---
title: Tom Roseveare - Creative in Japan
description: Tom is a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.
layout: 'base.njk'
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<section class="header-content" id="home">
            <div class="container">
                <div class="atf">
                    <div class="person anix ani1">
                        <div class="person__container">
                            <img src="assets/tom-ai.webp" alt="Friendly AI-generated likeness of Tom Roseveare" class="person__img" width="192" height="188" draggable="false">
                            <div class="person__circle" class="avatar xs bg"></div>
                        </div>
                    </div>

                    <div class="content">
                    <h3 class="catch anix ani2">Designing moments <span>that matter</span><mark class="anim">in travel</mark></h3>

                    <style>
                        
                    </style>

                        <div class="accent anix ani2" aria-hidden="true"></div>

                        <div class="intro anix ani3">
                            <h1>I'm <ruby class="name"><rb>Tom</rb><rt lang="ja">トム</rt></ruby> <ruby class="name"><rb> Roseveare</rb><rt lang="ja">ローズヴィア</rt></ruby>,</h1>
                            <p class="intro">a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.</h2>
                        </div>

                        <div class="hero-cta anix ani4">
                            <div class="current">
                                <p class="label">Currently:
                                    <div class="position">
                                        <span class="role">Creative Director</span>
                                        <hr>
                                        <span class="firm">@ Japan Travel</span>
                                    </div>
                                </p>
                            </div>
                            <div class="view">
                                <a class="scroll" href="#contentStart">View more</a>
                            </div>
                        </div>
                    
                    </div>                   
         
                </div><!--------   mob-ATF  --------------->
                
            </div>
  </section>   



  <section class="appearances" id="contentStart">  
    <div class="container"> 

        <h2 class="section-title">In the media</h2>

                <div class="media">
                
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img src="/assets/medias/jln-logo.webp" alt="Logo for Jalan" width="80" height="27" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img class="bright" src="/assets/medias/ylm-logo.webp" alt="Logo for Yahoo Life Magazine" width="80" height="19" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img src="/assets/medias/nhk-logo.webp" alt="Logo for NHK" width="80" height="30" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img class="bright invert" src="/assets/medias/asahi-logo.webp" alt="Logo for Asahi Shimbun" width="80" height="25" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img class="bright invert tvtokyo" src="/assets/medias/tv-tokyo.svg" alt="Logo for TV Tokyo" width="80" height="60" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down">
                        <a href="/about#media">
                            <img class="bright" src="/assets/medias/ishk.webp" alt="Logo for Ishinomaki Kahoku" width="80" height="60" loading="lazy">
                        </a>
                    </div>
                </div>

            <!-- </div> -->

            <p class="cta">Find out more <a href="/about" class="underline--magical">about me</a></p>

    </div>  
</section>



<section class="cta color lazy" id="bgimage">  
  <div class="container"> 

          <h2 class="section-title">Let's talk</h2>

          <h3 class="gt hidden left">Passionate about working on the web and exploring 
              <div class="typewriter">
              <span class="typewrite" data-period="2000" data-type='[ "accessibility", "SEO practices", "responsive design", "branding strategy", "copywriting", "multilingual sites", "data-driven design", "coaching", "your next project!" ]'>
                  <span class="wrap"></span>
              </span>
              </div>
          </h3>

          <div class="contact-me">
              <h2><span class="text-btn"><a href="mailto:hello@tomroseveare.com" class="underline--magical">Reach out to Tom</a></span></h2>
          </div>
  </div>
</section>




<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    
    <ul role="list" class="articles__list flow">

  {%- for post in collections.featured | reverse -%}
    
    {% include "article-snippet.njk" %}

  {%- endfor %}

</ul>

  </div>
</section> 
