---
title: Tom Roseveare - Creative in Japan
pageId: home
description: Tom is a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.
layout: 'base.njk'
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<section class="header-content" id="hero">
            <div class="container">
                <div class="atf">
                    <div class="person anix ani1">
                        {# <div class="person__container">
                            <img src="assets/tom-ai.webp" alt="Friendly AI-generated likeness of Tom Roseveare" class="person__img" width="192" height="188" draggable="false">
                            <div class="person__circle" class="avatar xs bg"></div>
                        </div> #}
                    </div>

                    <div class="content postcard" id="postcard">

                        

                        <style>
                                .stamp2 .person__circle, .stamp2 .person__container {
                                    border-radius: 0!important;
                                }

                                .stamp2 {
                                    /* position: absolute; */
                                    /* z-index: 100; */
                                    -webkit-mask-image: url(/assets/edge3.png);
                                    -webkit-mask-repeat: round;
                                }

                                .stamp2.person {
                                    max-width: 8rem;
                                    margin: auto 0 0 auto;
                                }

                                .stamp2 .person__circle {
                                    height: 100%;
                                }

                                .postcard:before {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    border-width: 0 0 16px 16px;
                                    border-style: solid;
                                    border-color: var(--clr-orange) #fff;
                                    /*for firefox*/
                                    display: block;
                                    width: 0;
                                    }

                        </style>

                       

                        <div class="left">
                            <h3 class="catch anix ani2">Designing moments <span class="l2">that matter</span><mark class="anim">in travel</mark></h3>
                        </div>

                        <div class="right intro">

                            <img class="stamp" src="/assets/stamp.png" alt="Decorative stamp mark" aria-hidden="true">

                            <div class="stamp2 person anix ani1">
                                <div class="person__container">
                                    <img src="assets/tom-ai2.png" alt="Friendly AI-generated likeness of Tom Roseveare" class="person__img" width="192" height="188" draggable="false">
                                    <div class="person__circle" class="avatar xs bg"></div>
                                </div>
                            </div>




                            <div class="lines">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>

                            <h1 class="anix ani3"><span>I'm</span> <span class="name">Tom Roseveare</span>,</h1>
                            <p class="intro anix ani4">a British creative leader based in Tokyo, inspiring teams to craft memorable and easy-to-use digital experiences.</h2>
                            
                        </div>
                            
                        <div class="accent" aria-hidden="true"></div>
                    
                    </div>     
                    
                    
                    
         
                </div>


                <div class="hero-cta">
                        <div class="current">
                            <p class="label">Currently:
                                <div class="position">
                                    <span class="role">Creative Director</span>
                                    <hr>
                                    <span class="firm"><span>@</span> Japan Travel</span>
                                </div>
                            </p>
                        </div>  

                        <div class="view">
                            <a class="scroll" href="#contentStart">View more</a>
                        </div>
                </div>

            </div>
  </section>   



  <section class="oval intro appearances" id="contentStart">  
    <div class="container"> 

        <h2 class="section-title">In the media</h2>

                <div class="media">
                
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img src="/assets/medias/jln-logo.webp" alt="Logo for Jalan" width="80" height="27" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img class="bright" src="/assets/medias/ylm-logo.webp" alt="Logo for Yahoo Life Magazine" width="80" height="19" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img src="/assets/medias/nhk-logo.webp" alt="Logo for NHK" width="80" height="30" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img class="bright invert" src="/assets/medias/asahi-logo.webp" alt="Logo for Asahi Shimbun" width="80" height="25" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img class="bright invert tvtokyo" src="/assets/medias/tv-tokyo.svg" alt="Logo for TV Tokyo" width="80" height="60" loading="lazy">
                        </a>
                    </div>
                    <div class="mention hidden down fast">
                        <a href="/about#media">
                            <img class="bright" src="/assets/medias/ishk.webp" alt="Logo for Ishinomaki Kahoku" width="80" height="60" loading="lazy">
                        </a>
                    </div>
                </div>

            <p class="cta">Find out more <a href="/about" class="underline--magical">about me</a></p>

    </div>  
</section>



<section class="cta color bgimage">  
  <div class="container"> 

          <h2 class="section-title raw">Let's talk</h2>

          <h3 class="gt left">Passionate about working on the web and exploring 
              <div class="typewriter">
              <span class="typewrite" data-period="2000" data-type='[ "accessibility", "SEO practices", "responsive design", "branding strategy", "copywriting", "multilingual sites", "data-driven design", "coaching", "your next project!" ]'>
                  <span class="wrap"></span>
              </span>
              </div>
          </h3>

          <div class="contact-me">
              <h2><span class="text-btn"><a href="/contact" class="underline--magical">Reach out to Tom</a></span></h2>
          </div>
  </div>
</section>


{% include "skills.njk" %}



<section class="blog">  
    <div class="container"> 

            <h2 class="section-title">Latest stories</h2>

            <ul role="list" class="articles__list flow">
                {%- for post in collections.featured | reverse -%}
                    {% include "article-snippet.njk" %}
                {%- endfor %}

                <li class="cta">
                    <a href="/blog" class="cta">
                        <article class="snippet2">
                            <div class="blue"></div>
                            {# <img src="/assets/blog/flat-coffee.jpg" alt="" class="snippet__image"> #}
                            <h3 class="snippet__title">Read more</h3>
                            {# <p class="snippet__meta">by <span> {{ post.data.author }}</span> on {{ post.data.date | postDate }} </p> #}
                            {# <p class="snippet__meta"> No date </p> #}
                            <p class="snippet__body">Random musings etc </p>
                        </article>
                    </a>
                </li>
            </ul>
        
    </div>
</section>          


<script defer src="/postcard.js" ></script>
